// Color variables
$bgColor: #D0D0D0;
$red: #CC0000;
$lightGray: #CCC;
$darkGray: #666;
$black: #000000;
$white: #FFFFFF;

// Font weight variables
$fontWeightHeavy: 900;
$fontWeightBold: 600;
$fontWeightNormal: 400;
$fontWeightLight: 200;
$fontWeightLighter: 100;
