html {
    min-height: 100%;

    body {
        min-height: 100%;
        background-color: $bg;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .no-display {
        display: none;
    }

    .hide-text {
        font-size: 0;
    }
}
